.Category-Ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #DEDEDE;
    position: relative;
}

.Category-li{
    display: flex;
    justify-content: center;
    align-items: center;
    width:180px;
    height: 60px;
    cursor: pointer;
    transition: 0.5ms;
    font-size: 16px;
    color: #686868;
    position: relative;
    text-decoration: none;
    background: none;
    border: none;
    transition: 1s;
}

.Category-li.active{
    border-bottom: 1px solid #686868;
    color: #111;
}

.Category-li:hover{
    color: #111;
}

.Category-li:focus{
    outline: none;
}