.Container-AdminDashBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Box-AdminDashBoard{
    width: 1100px;
}

.LinkadminEditUser{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: #8C8C8C;
    padding: 10px;
    background: #EDEDED;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.5s;
}

.LinkadminEditUser:hover{
    background: #D3D3D3;
}

.IconEdit-AdminDashBoard{
    margin-top: 4px;
    margin-right: 0.44rem;
}