.Container-SideBar{
    flex: 4;
    border-left: 1px solid #DEDEDE;
}

.Main-Box-SideBar{
    position: sticky;
    top: 0;
    background: #fff;
    margin: 0px 20px;
    padding: 10px;
}

.h1-TopFive{
    border-bottom: 1px solid #DEDEDE;
    font-size: 22px;
    font-weight: 400;   
    padding-top: 5px;
    padding-bottom: 10px;
    color: #686668;
}

.IconRank{
    margin-right: 15px;
}