.container-Spage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-Spage{
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.h1-Spage{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.8;
    margin: 5px 0px;    
}

/* USER-INFO */
.User-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.img-Spage{
    border-radius: 30px;
    width: 42px;
    height: 42px;
    object-fit: cover;   
}

.Username-h3{
    font-weight: 500;
    font-size: 18px;
}

.Date-span{
    color: #8C8C8C;
}

/* INTERACTIVE */
.interactive-Spage{
    display: flex;
    justify-content: space-between ;
    padding: 20px 0px;  
    border-bottom: 1px solid #DEDEDE;
}

.span-view-Spost{
    color: #D1D1D1;
    font-size: 18px;
}

.Category-btn-Spage{
    background: #D9D9D9;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    transition: 0.5s;
    font-weight: 400;
    font-size: 18px;
    color: #111;
    outline: none;
    margin-right: 10px;
}

/* .Category-btn-Spage:hover{
    background: #b3b3b3;
} */

.interactive-button{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-download{
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #DEDEDE;
}

.btn-download:hover{
    border-bottom: 2px solid #DEDEDE;
}

/* SPAGE INFO */
.Spage-info{
   display: flex; 
   margin: 20px 0px;
   gap: 35px;
}

.Spage-info-img{
    width: 260px;
    height: 260px;
    object-fit: cover;
}

.Spage-main-info{
    display: flex;
    flex-direction: column;
}
.Spage-h4{
    /* text-align: center; */
    font-size: 28px;
}

/* Update Button */
.btn-update{
    /* border: 1px solid; */
    cursor: pointer;
}

.IconUpdatePost{
    color: #111;
    font-size: 22px;
}

.input-h1-update{
    width: 1100px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #DEDEDE;
}

.input-h1-update:focus{
    outline: none;
}

.input-p-update{
    width: 805px;
    height: 144px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #DEDEDE;
}

.input-p-update:focus{
    outline: none;
}

.btn-submit-update{
    width: 100px;
    border: none;
    background: teal;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
    transition: 0.5s;
}

.btn-submit-update:hover{
    background: rgb(0, 87, 87);
}