.Container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #9CDBFF;
}

.main-box-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    background-color: #fff;
    border-radius: 10px;
    width: 1183px;
    height: 821px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 46px ;
    text-align: center;

}

.h1-register{
    color: #58C3FF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
}

.box-input-register{
    display: flex;
    margin-top: 37px;
    margin-bottom: 55px;
}

.input-register{
    width: 513px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid #9CDBFF;
    background: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    padding: 10px;
    color: #58C3FF;
    margin: 10px;
}

.input-register:focus{
    outline: none;
}

.input-register::placeholder{
    color: #9CDBFF;
}

.p-alert-register{
    display: none;
    color: #FF0000;
    font-size: 22px;
}

.button-register{
    margin: 33px 0px;
    border-radius: 10px;
    background: #9CDBFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    width: 513px;
    height: 60px;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0px solid;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
}

.button-register:hover{
    background: #fff;
    color: #9CDBFF;
}

.IconButtonRegister{
    margin : 10px;
}